body{
    text-align: center;
    background-color: rgb(239, 239, 239);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#calc{
    padding: 150px;
    background-color: #00e1ff;
    margin: 150px 450px;
    border-radius: 15px;
    border-style:solid;
    border-color: #009baf;
}

#botao{
    border-radius: 10px;
    background-color: #fafafa;
    border-color: #ff7bda;
    border-style:solid ;

}

#botao:hover{
    transition: 0.5s;
    background-color: #F6bfe6;
    cursor: pointer;
}

.insert{
    border-radius: 5px;
}

h1{
    font-size: 30px;
    position: relative;
    top: -30px
}